---
interface Props{
    zoom?: string
    theme?: string
	theme_text?: string
	text?:string
	
}
const {zoom,theme,theme_text,text} = Astro.props;

---
<style>
	
	.cont-cat {
		
		 color: #606365;  align-items: center; margin: 0; justify-content: center; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; } .cat { font-size: 3rem; text-align: center;
		font-family: serif;
		font-weight: 600; 
		letter-spacing: 2px;
	} 
	.ear-line { display: flex; justify-content: space-between; font-size: 2rem; margin-bottom: -38px; translate : 0px -1px;
	} 
	.face-line { 
		font-size: 2.5rem;
		letter-spacing: 2px;
		margin-bottom: -30px;	
		/* text-shadow: 0 0 0px black; */
		transform: translateY(1px);
		transform: rotateX(37deg);
		transform: rotateZ(18deg);
		translate: 4px 2px;
		z-index: 3;
		position: relative;
		transition: all ease 0.1s;
	} 
	.body-line{
		/* Mantén tus estilos existentes */
		font-size: 4rem;
		font-weight: 100;
		transform: rotateX(40deg);    
		z-index: 1;
		margin-top: -3px;    
		color: transparent;
		transition: all .2s ease;
		text-align: center;
	}
	.body-line:before {
		content: 'Δ'; /* El carácter deseado */
		position: absolute;  
		top: 0%;
		left: 0%; /* Coloca la letra a la derecha de la original */
		color: white; /* Color del borde */ 		
		color: #00fafd;		
		z-index: -1;
		translate: 5px -2px;
		translate: 4.5px -1px;			
	}
	
	.ear-left{ transform-origin: center; transform: rotate(355deg); transition: transform 0.2s; z-index: 1; 
		translate: 9px -4.5px;
	} 
	.ear-right { 
		z-index: 1;
		transform-origin: center;
		transform: rotate(50deg);
		transition: transform 0.2s;		
		translate: 7px 5px;
	}
	/* .ear-left:hover{ transform: rotate(355deg); } .ear-right:hover { transform: rotate(0deg);
	} */ 
	.cat:hover .body-line::before {
		
	}
	.cat:hover .ear-left { transform: rotate(338deg); margin-left:0px; margin-bottom: 0px; translate: 0px -1.5px
	} .cat:hover .ear-right { transform: rotate(22deg); translate: 0px -1px;
	}
	.cat { font-size: 3rem; text-align: left; transition: transform 0.2s; 
		
	} 
	.cat:hover .face-line { transform: rotateX(6deg); /* Ajusta el ángulo de inclinación que desees */ 
		translate: 1px 0px;
	}
	.title {
		font-size: 2rem;
		font-weight: 600;
		text-align: center;
		margin:-10px; margin-top: -50px;
		font-family: system-ui;
	}
	
	.primary-color{ color: black; color: #636363;
	}
	.second-color{ color: #9fc37f; color: #00cd7a; color: black;
	}
	.third-color{ color: silver; color: #636363; color: orange; color: aqua; color: #00aeff;
		
	}

	
	
</style>
<meta charset="UTF-8">
<!-- CAT here -->
<div class="cont-cat"  style=`
display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0px;
    justify-content: start;
zoom : ${zoom}

 `>

	<div class="cat"  style="
	max-height: 62px;
	z-index: 1;
	line-height: normal;
	" >
	<div class="ear-line" >
		<div class="ear-left" style=`color: ${theme}` >^</div>
		<div class="ear-right" style=`color: ${theme}` >^</div>
	</div>

	<div class="face-line" style=`color: ${theme}` >&lt;&gt;</div>
	<div class="body-line third-color second-color "  style=`color: ${theme}; color: ${theme_text}`>Δ</div></div>
	<h1 class="title primary-color font-size-cat" style=`
	color: #636363;
	font-size: 2.5rem;
	letter-spacing: 2px;
    line-height: 2;
	max-height: 70px;	
	font-weight: 500;
	translate: 1.8px 0px;
	color: ${theme}
	` >{text}</h1>
	
</div>

